.adver1{
    height: 380px;
    width: 324px;
    background-color: white;
    padding: 16px;
}
.ad1-head{
    font-size: 20px;
    line-height: 30px;
}
.ad1-body img{
    width: 300px;
}
.ad1-foot{

}